@use 'paleta' as *;
.contenedor-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin: 2.5rem auto;
  padding: 0 1rem;
  max-width: 600px;
  width: 100%;

  input {
    width: 100%;
    max-width: 500px;
    padding: 14px 24px;
    font-size: 18px;
    background: linear-gradient(to right, $blanco, $blanco);
    border: 3px solid $rojo-intenso;
    border-radius: 40px;
    outline: none;
    box-shadow: 0 0 10px $amarillo-sol;
    color: $azabache;
    transition: all 0.3s ease;

    &:focus {
      border-color:$amarillo;
      box-shadow: 0 0 15px $amarillo;
    }

    &::placeholder {
      color: $gris;
      font-style: italic;
    }
  }

  button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle at 35% 35%, $rojo-intenso, $rojo);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 6px;
      background:$blanco;
      transform: translateY(-50%);
      z-index: 1;
      border-radius: 3px;
    }

    svg {
      width: 28px;
      height: 28px;
      fill: $blanco;
      z-index: 2;
      filter: drop-shadow(0 0 3px $negro);
      transition: transform 0.2s ease;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 20px $marron;

      svg {
        transform: scale(1.2);
        fill: $amarillo-claro;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

@media screen and (max-width: 760px) {
    .contenedor-busqueda {
        gap: 8px;
        margin: 2rem auto;
        padding: 0 0.5rem;
        
        input {
          font-size: 16px;
          padding: 10px 15px;
          max-width: none;
        }

        button {
            width: 50px;
            height: 50px;
            min-width: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            svg {
                width: 24px;
                height: 24px;
            }

            &:hover {
                transform: none; 
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            }
        }
    }
}