@use 'paleta' as *;
@use 'margen' as *;

$fondo-img: "../img/fondo.jpg";
.spinner {
  border: 6px solid $blanco; 
  border-top: 6px solid $azul;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: girar 1s linear infinite;
  margin: $spacing-xl auto;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.pagina-pokedex {
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  background-image: url(#{$fondo-img});
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .contenedor-fondo {
    position: relative;
    width: 100%;
    min-height: auto;
  }

  .pikachu,
  .ash {
    position: fixed;
    width: auto;
    object-fit: contain;
    z-index: -1;
    pointer-events: none;
  }

  .pikachu {
    height: 300px;
    bottom: 80px;
    left: 0;
  }

  .ash {
    height: 500px;
    bottom: 60px;
    right: 0;
  }

  .contenedor-central {
    max-width: 720px;
    width: 1080px;
    margin: $spacing-xxl auto;
    background-color: $negro;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    position: relative;
    z-index: 1;
    text-align: center;
  }
}