@use 'paleta' as *;
@use 'margen' as *;

$fondo-img: "../img/fondo.jpg";

.spinner {
  border: 6px solid $rojo; 
  border-top: 6px solid $blanco;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: girar 1s linear infinite;
  margin: $spacing-xl auto;
  display: none;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pagina-pokedex {
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  background-image: url(#{$fondo-img});
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .contenedor-fondo {
    position: relative;
    width: 100%;

  }

  .pikachu,
  .ash {
    position: fixed;
    width: auto;
    object-fit: contain;
    z-index: -1;
    pointer-events: none;
  }

  .pikachu {
    height: 300px;
    bottom: 80px;
    left: 0;
  }

  .ash {
    height: 500px;
    bottom: 60px;
    right: 0;
  }

  .contenedor-central {
  width: 100%;
  min-height: 80vh;
  max-width: 720px;
  background-color: $negro;
  margin: $spacing-xxl auto 0 auto;
  padding: 30px;
  position: relative;
  z-index: 1;
  text-align: center;
  box-sizing: border-box; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}
}
@media (max-width: 760px) {
  .pagina-pokedex {
    background-attachment: scroll;

    .pikachu,
    .ash {
      display: none;
    }

    .contenedor-central {
      margin-top: 50px;
      padding: 15px;
      min-height: 500px;
      max-width: 100%;
      border-radius: 0;
    }
    .pokedex {
      width: 80%;
      margin-bottom: 10px;
    }
  }
}