@use 'paleta' as *;
@use 'margen' as *;
@use 'texto' as *;

@mixin navbar__img(){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $azul;
    color: $blanco;
    font-size: 1.25rem;
    position: relative;
        li {
        list-style: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .logo{
        height: 60px;
        img{
            height: 100%;
            transition: transform 0.3s ease-in-out;
        }
        &:hover{
            transform: scale(1.3);
        }
    }
    .nav_items{
        display: flex;
        gap: 2rem;
        font-weight: $font-weight-bold;
    }
    .nav_link:hover{
        transform: scale(1.3);
    }
    /*input[type="checkbox"],
    label{
        display: none;
        color: $furia-suave;
    }*/
}
.navbar{
    @include navbar__img();
}