//colores para tarjeta segun el tipo
$colores-tipos: (
    fire: #fa751d,
    water: #6890f0, //agua
    grass: #73be4d,
    electric: #f8d030,
    psychic: #f85888,
    ice: #98d8d8,
    dragon: #7038f8,
    dark: #705848, //oscuro
    fairy: #ee99ac, //hada
    normal: #a8a878,
    fighting: #c03028, //lucha
    flying: #a890f0, //vuelo
    poison: #a040a0, //veneno
    ground: #e0c068, //suelo
    rock: #b8a038, //roca
    bug: #a8b820, //bicho
    ghost: #705898, //fantasma
    steel: #b8b8d0 //acero
);

$blanco: #ffffff;
$negro: #000;