@use 'texto' as *;
@use 'paleta' as *;

.contenedor-parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(to bottom, $cielo, $blanco);
  height: 100vh;
}

.contenedor-parallax img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  transition: transform 0.3s ease;
}

#cielo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#bola {
  z-index: 6;
  transform: scale(1.2);
}

.arboles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.contenedor-bienvenida {
  margin-bottom: 0;
  position: relative;
  background-color: $verde;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-bienvenida {
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease-out;
}

.contenedor-bienvenida h1,
.contenedor-bienvenida p {
  font-size: $font-size-xxl;
  color: $blanco;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}