.parallax img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  transition: transform 0.3s ease;
}
#cielo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#bola {
  z-index: 6;
  transform: scale(1.2);
}
.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #cce7ff, #f9f9f9);
}
.arboles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* encima del texto */
  pointer-events: none;
}

.bienvenida {
  margin-bottom: 0;
  position: relative;
  background-color: #229351; /* verde suave */
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-bienvenida {
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease-out;
}

.bienvenida h1,
.bienvenida p {
  font-size: 1.8rem;
  color: #fcfffc;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}