@use 'paleta' as *;
@use 'texto' as *;
@use 'breakpoints' as *;

// Mixin para botones de tipo
@mixin boton-tipo($tipo) {
  background-color: map-get($colores-tipos, $tipo);
  color: $blanco;
  &:hover {
    filter: brightness(1.1); 
  }
}

#filtros-tipos {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  button {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    text-transform: uppercase;
    font-family: $font-size-xs;

    &.todos {
      background-color: $gris;
      color: $blanco;
      &:hover {
        filter: brightness(1.1);
      }
    }

    // Aplicar estilos por tipo
    @each $tipo, $color in $colores-tipos {
      &.#{$tipo} {
        @include boton-tipo($tipo);
      }
    }
  }
}
